* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
input.expiration-date-input:focus,
input.cvv-input:focus,
input.card-number-input:focus,
input.card-holder-input:focus,
input.note-input:focus {
  outline: none;
}
input.note-input,
input.expiration-date-input,
input.cvv-input,
input.card-number-input,
input.card-holder-input {
  font-family: 'DM Sans';
  font-size: 16px;
  color: rgba(117,99,77,1);
}
.payment-container {
  width: 100%;
  height: 980px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.confirmation-button {
  width: 214px;
  height: 62px;
  background: rgba(218,221,177,1);
  padding: 18px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 834px;
  left: 969px;
  overflow: hidden;
  border: none;
}
.confirmation-button-text {
  width: 128px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 18px;
  left: 40px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.order-details {
  width: 535px;
  height: 563px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 837px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.order-dividers {
  width: 535px;
  height: 540px;
  background: rgba(241,235,230,0.25);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.total-section {
  width: 456px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 42px;
  overflow: hidden;
}
.total-label {
  width: 85px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.total-amount {
  width: 79px;
  color: rgba(216,39,0,1);
  position: absolute;
  top: 0px;
  left: 377px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.discount-info {
  width: 450px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 43px;
  overflow: hidden;
}
.discount-label {
  width: 85px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.discount-amount {
  width: 38px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 412px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.shipping-info {
  width: 451px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 42px;
  overflow: hidden;
}
.shipping-label-detail {
  width: 47px;
  color: rgba(218,221,177,1);
  position: absolute;
  top: 0px;
  left: 404px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.shipping-label {
  width: 83px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}


.payment-options-cod,
.payment-options-momo,
.payment-options-atm {
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
  align-items: center; /* Căn các phần tử theo chiều dọc */
  position: relative;
}

.payment-options-cod input[type="radio"],
.payment-options-momo input[type="radio"],
.payment-options-atm input[type="radio"] {
  margin-right: 40px; 
  width: 15px; 
  height: 15px;
  border: 2px solid #75634D; 
  appearance: none; 
  border-radius: 50%; 
}

.payment-options-cod input[type="radio"]:checked,
.payment-options-momo input[type="radio"]:checked,
.payment-options-atm input[type="radio"]:checked {
  background-color: #75634D; 
}
.payment-options-cod {
  width: 534px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px; /* Adjust this value */
  left: 73px;
  overflow: hidden;
}

.payment-options-momo {
  width: 534px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px; /* Adjust this value */
  left: 73px;
  overflow: hidden;
}

.payment-options-atm {
  width: 534px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px; /* Adjust this value */
  left: 73px;
  overflow: hidden;
}


.subtotal-info {
  width: 450px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 42px;
  overflow: hidden;
}
.subtotal-amount {
  width: 44px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 406px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.subtotal-label {
  width: 87px;
  color: rgba(117,99,77,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.order-divider-line {
  width: 534px;
  opacity: 1;
  position: absolute;
  top: 408px;
  left: 0px;
  border: 1px solid rgba(214,199,174,0.75);
}
.note-section {
  width: 454px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 42px;
  overflow: hidden;
}
.note-input {
  width: 454px;
  height: 50px;
  background: rgba(241,235,230,0.75);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border: none;
}
.note-label {
  width: 46px;
  color: rgba(117,99,77,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.apply-button {
  width: 128px;
  height: 60px;
  background: rgba(241,235,230,0.25);
  padding: 15px 37px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 365px;
  overflow: hidden;
  border: none;
}
.apply-text {
  width: 58px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 15px;
  left: 37px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.product-detail-section {
  width: 453px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 40px;
  overflow: hidden;
}
.product-detail-divider {
  width: 453px;
  height: 50px;
  background: rgba(241,235,230,0.75);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.product-detail-infor {
  width: 393px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 16px;
  overflow: hidden;
}
.product-detail-total {
  width: 158px;
  color: rgba(117,99,77,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.product-detail-amount {
  width: 43px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 350px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.item-details-section {
  width: 409px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 42px;
  overflow: hidden;
}
.item-details-name {
  width: 215px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 13px;
  left: 117px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.item-details-amount {
  width: 44px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 62px;
  left: 365px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.item-details-color {
  width: 140px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 39px;
  left: 117px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.item-details-image {
  width: 100px;
  height: 100px;
  background: url("../images/product.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.item-details-quantity {
  width: 16px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 117px;
  overflow: hidden;
}
.quantity-text {
  width: 16px;
  color: rgba(117,99,77,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.order-summary-label {
  width: 151px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 27px;
  left: 47px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.payment-method-section {
  width: 646px;
  height: 563px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 80px;
  overflow: hidden;
}
.payment-method-divider {
  width: 646px;
  height: 540px;
  background: rgba(241,235,230,0.25);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.card-details {
  width: 533px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 55px;
  overflow: hidden;
}
.expiration-date-section {
  width: 250px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.expiration-date-divider {
  width: 250px;
  height: 50px;
  background: rgba(214,199,174,0.75);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.expiration-date-label {
  width: 166px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.expiration-date-input {
  width: 79px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 35px;
  left: 20px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  border: none;
  background-color: transparent;
}
.cvv-section {
  width: 250px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.cvv-divider {
  width: 250px;
  height: 50px;
  background: rgba(214,199,174,0.75);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.cvv-input {
  width: 58px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 35px;
  left: 18px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  border: none;
  background-color: transparent;
}
.cvv-label {
  width: 70px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.cvv-validation {
  width: 15px;
  height: 15px;
  background: url("../images/validation.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 217px;
  overflow: hidden;
}
.card-number-section {
  width: 534px;
  height: 71px;
  background: url("../images/v157_825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 55px;
  overflow: hidden;
}
.card-number-label {
  width: 133px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.card-number-divider {
  width: 534px;
  height: 50px;
  background: rgba(214,199,174,0.75);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.card-number-input {
  width: 194px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 35px;
  left: 20px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  border: none;
  background-color: transparent;
}
.card-number-validation {
  width: 15px;
  height: 15px;
  background: url("../images/validation.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 499px;
  overflow: hidden;
}
.card-holder-section {
  width: 534px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 55px;
  overflow: hidden;
}
.card-holder-label {
  width: 152px;
  color: rgba(117,99,77,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.card-holder-divider {
  width: 534px;
  height: 50px;
  background: rgba(214,199,174,0.75);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.card-holder-input {
  width: 122px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 36px;
  left: 19px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  border: none;
  background-color: transparent;
}
.card-holder-validation {
  width: 15px;
  height: 15px;
  background: url("../images/validation.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 499px;
  overflow: hidden;
}
.payment-method-line {
  width: 653px;
  height: 0;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  border: 1px solid rgba(214,199,174,0.75);
}


.cash-label {
  width: 155px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 15px;
  left: 72px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  vertical-align: middle; /* Đặt phần tử vào vị trí dọc giữa với radio button */
  display: inline-block; /* Cho phép phần tử nằm trên cùng một hàng với radio button */
  white-space: nowrap; /* Ngăn chặn chữ từ việc xuống dòng */
}


.momo-label {
  width: 141px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 15px;
  left: 66px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  vertical-align: middle; /* Đặt phần tử vào vị trí dọc giữa với radio button */
  display: inline-block; /* Cho phép phần tử nằm trên cùng một hàng với radio button */
  white-space: nowrap; /* Ngăn chặn chữ từ việc xuống dòng */
}


.atm-label {
  width: 268px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 15px;
  left: 62px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  vertical-align: middle; /* Đặt phần tử vào vị trí dọc giữa với radio button */
  display: inline-block; /* Cho phép phần tử nằm trên cùng một hàng với radio button */
  white-space: nowrap; /* Ngăn chặn chữ từ việc xuống dòng */
}

.payment-method-label {
  width: 84px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 24px;
  left: 55px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.progress-bar {
  width: 513px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 463px;
  overflow: hidden;
}
.shipping-step {
  width: 97px;
  color: rgba(117,99,77,0.75);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.payment-step {
  width: 101px;
  color: rgba(117,99,77,1);
  position: absolute;
  top: 0px;
  left: 184px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.confirmation-step {
  width: 145px;
  color: rgba(117,99,77,0.75);
  position: absolute;
  top: 0px;
  left: 368px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.progress-bar-icon1 {
  width: 30px;
  height: 30px;
  background: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 126px;
  overflow: hidden;
}
.progress-bar-icon2 {
  width: 30px;
  height: 30px;
  background: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 310px;
  overflow: hidden;
}

.cancel-button,
.payment-button {
    border: none; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shipping-button {
  width: 482px;
  height: 62px;
  position: absolute;
  top: 450px;
  left: 82px;
  display: flex;
}

.cancel-button, .payment-button {
  width: 220px;
  height: 62px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancel-button {
  background-color: rgba(241, 235, 230, 0.8);
  color: rgba(117, 99, 77, 1);
}

.payment-button {
  background-color: rgba(218, 221, 177, 1);
  color: rgba(117, 99, 77, 1);
}

.cancel-button:hover, .payment-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.9);
}
